#ignore the log files
log/*

#ignore the tmp files
tmp/**/*

#ignore the database.yml file so that passwords are not exposed on github
config/database.yml

# ignore the sqlite databases -
db/*.sqlite3

# ignore the data folder - contains random data
data/*