
<div id="resume_form">
	<%= render :partial => 'resumes/form' %>
</div>

<!--
<div id="sign-up-bar">
	<%#= link_to "Sign in", new_user_session_path %> to save you resume.
</div>
-->

<div id="guide">
	<%= render :partial => 'resumes/guide' %>
</div>
