
<div id="welcome-actions">
	<%= link_to "sign_in", new_user_session_path %> / 
	<%= link_to "sign up", new_user_registration_path %> / 
	<%= link_to "get started with a demo ...", demo_path %>
</div>	