<h1>rC</h1>
<h2>resumeCreator helps you create nice looking resumes online. Fast</h2>

<%= link_to "sign_in", new_user_session_path %> /
<%= link_to "sign up", new_user_registration_path %> 
<br/>or<br/>
<%= link_to "get started ...", demo_path %>