<%= form_for(@resume) do |f| %>

  <div id="actions-panel">
	<% if demo? %>
		<%= f.submit "Go...", :class=>'action', :onclick=>"this.form.target='_blank';return true;" %>
	<% else %>	
		<%= f.submit %>
	<% end %>	
  </div>

  <div id="content-box">
	<% content_value = @resume.content  %>
    <%= f.text_area :content, :value => content_value %>
  </div>


<% end %>
