
<div id="resume_form">
	<%= render 'form' %>
</div>

<div id="guide">
	<%= render 'guide' %>
</div>

<!--
<div id="style_selector">
	Using default style. <%#= link_to "change", styles_path %>
</div>
-->

