<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'index', resumes_path %>

<p>
  This shows the html version of the resume -
</p>

<%= raw @html_resume %>

