<!DOCTYPE html>
<html>
<head>
  <title>Rc</title>
  <%= csrf_meta_tag %>
  <style type="text/css">
    <%= @resume.style.css %>
  </style>
</head>
<body>

<!--
<%# if demo? %>
	The look-n-feel can be improved. <%#= link_to 'go back and try', edit_resume_path(@resume) %>
<%# end %>
<hr/>
-->

<!-- content -->
<div id="container"><div class="inner">
	<%= yield %>
</div></div>

</body>
</html>

